.user-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.single-user{
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 7px;
}

.image-user{
    height: 200px;
}