body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  background-color: black;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  justify-content: space-evenly;
  align-items: center;
  
}

.navbar a{
  text-decoration: none;
  margin-right: 15px;
  color: white;
}
.navbar a.active{
  background-color: lightblue;
  color: black;
  padding: 10px;
  border-radius: 7px;
}

h2{
  color: white;
}


.login-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}
h1 {
  text-align: center;
  text-decoration: underline dotted;
}
label {
  display: block;
  margin-bottom: 5px;
  text-align: center;
  
}
input[type="text"],
input[type="password"],
input[type="email"] ,
input[type="number"]{
  width: 270px;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button {
  width: 10%;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  background-color: #45a049;
}
.admin-form
{
   justify-content: center;
   text-align: center;
}
